<!DOCTYPE html>
<html lang="pt-brf">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Instituto Feluma de Educação</title>

    <!-- Styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-select.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <br>
            <img alt="Icon" src="/assets/logo.png" />
       <image_tag"("logo.png")("icon.png", size: "16x10", alt: "Edit Entry")/>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="nav navbar-nav navbar-right">
            <div class="user-data">
              <span class="user-name"><i class="fa fa-user"></i> Paulo Gentil</span>
              <span class="divider">|</span>
              <a href="login.html">sair</a>
            </div>
          </div>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <select class="selectpicker indice-select" title="Índice">
                <optgroup label="Graduação - Medicina">
                  <option>Atas</option>
                  <option>Atividades complementares</option>
                  <option>Atividades de extensão</option>
                  <option>Corpo docente</option>
                  <option>Enade</option>
                  <option>Estágio</option>
                  <option>Projeto pedagógico de curso (PPC)</option>
                  <option>Trabalho de conclusão de curso (TCC)</option>
                </optgroup>
                <optgroup label="Graduação - Enfermagem">
                  <option>Atas</option>
                  <option>Atividades complementares</option>
                  <option>Atividades de extensão</option>
                  <option>Corpo docente</option>
                  <option>Enade</option>
                  <option>Estágio</option>
                  <option>Projeto pedagógico de curso (PPC)</option>
                  <option>Trabalho de conclusão de curso (TCC)</option>
                </optgroup>
                <optgroup label="Graduação - Fisioterapia">
                  <option>Atas</option>
                  <option>Atividades complementares</option>
                  <option>Atividades de extensão</option>
                  <option>Corpo docente</option>
                  <option>Enade</option>
                  <option>Estágio</option>
                  <option>Projeto pedagógico de curso (PPC)</option>
                  <option>Trabalho de conclusão de curso (TCC)</option>
                </optgroup>
                <optgroup label="Graduação - Psicologia">
                  <option>Atas</option>
                  <option>Atividades complementares</option>
                  <option>Atividades de extensão</option>
                  <option>Corpo docente</option>
                  <option>Enade</option>
                  <option>Estágio</option>
                  <option>Projeto pedagógico de curso (PPC)</option>
                  <option>Trabalho de conclusão de curso (TCC)</option>
                </optgroup>
                <optgroup label="Dimensões -   Organização didático-pedagógica">
                  <option>Contexto educacional</option>
                  <option>Políticas institucionais no âmbito do curso</option>
                  <option>Objetivos do curso</option>
                  <option>Perfil profissional do egresso</option>
                  <option>Estrutura curricular</option>
                  <option>Conteúdos curriculares</option>
                  <option>Metodologia</option>
                  <option>Estágio curricular supervisionado</option>
                  <option>Atividades complementares</option>
                </optgroup>
                <optgroup label="Dimensões - Corpo docente e tutorial">
                  <option>Trabalho de conclusão de curso (TCC)</option>
                  <option>Apoio ao discente</option>
                  <option>Ações decorrentes dos processos de avaliação do curso</option>
                  <option>Tecnologias de Informação e Comunicação – TICs – no processo ensino-aprendizagem</option>
                  <option>Procedimentos de avaliação dos processos de ensino-aprendizagem</option>
                  <option>Número de vagas</option>
                  <option>Integração com as redes públicas de ensino</option>
                  <option>Integração do curso com o sistema local e regional de saúde/ SUS – relação alunos/docente</option>
                  <option>Integração do curso com o sistema local e regional de saúde/SUS – relação alunos/usuário</option>
                  <option>Atividades práticas de ensino</option>
                  <option>Atuação do Núcleo Docente Estruturante – NDE</option>
                  <option>Atuação do (a) coordenador (a)</option>
                  <option>Experiência profissional, de magistério superior e de gestão acadêmica do (a) coordenador (a)</option>
                  <option>Regime de trabalho do (a) coordenador (a) do curso</option>
                  <option>Carga horária de coordenação de curso</option>
                  <option>Titulação do corpo docente do curso</option>
                  <option>Titulação do corpo docente do curso – percentual de doutores</option>
                  <option>Regime de trabalho do corpo docente do curso</option>
                  <option>Regime de trabalho do corpo docente do curso</option>
                  <option>Experiência de magistério superior do corpo docente</option>
                  <option>Funcionamento do colegiado de curso ou equivalente</option>
                  <option>Produção científica, cultural, artística ou tecnológica</option>
                </optgroup>
                <optgroup label="Dimensões / Requisitos legais e normativos">
                  <option>Responsabilidade docente pela supervisão da assistência médica</option>
                  <option>Diretrizes Curriculares Nacionais do Curso.</option>
                  <option>Diretrizes Curriculares Nacionais para Educação das Relações Étnico-Raciais e para o Ensino de História e Cultura AfroBrasileira, Africana e Indígena</option>
                  <option>Diretrizes Nacionais para a Educação em Direitos Humanos</option>
                  <option>Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista</option>
                  <option>Titulação do corpo docente</option>
                  <option>Núcleo Docente Estruturante (NDE</option>
                  <option>Carga horária mínima, em horas – para Bacharelados e Licenciaturas</option>
                  <option>Tempo de integralização</option>
                  <option>Condições de acessibilidade para pessoas com deficiência ou mobilidade reduzida</option>
                  <option>Disciplina de Libras</option>
                  <option>Informações acadêmicas</option>
                  <option>Políticas de educação ambiental</option>
              </select>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <div id="main-nav" class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">

          <% @menus.each_with_index do |menu, i| %>
            <li class="<% if i == 0 %> active <% end %>">
              <a href="#<%= menu.id %>" data-toggle="tab"> <%= menu.descricao %></a>
            </li>
          <% end %>
 

<!--           <li class="active"><a href="#indice" data-toggle="tab"> Índice</a></li>
          <li><a href="#graduacao" data-toggle="tab"> Graduação</a></li>
          <li><a href="#documentos" data-toggle="tab"> Documentos institucionais</a></li>
          <li><a href="#dimensoes" data-toggle="tab"> Dimensões</a></li>
 -->

        </ul>
      </div>
      <div class="tab-content col-xs-12 col-sm-9">

        <div id="Índice" class="tab-pane white-bg active">
          <h2>Índice</h2>
          <div class="well">
            <form class="form">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Página</th>
                <th>Caminho</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="medicina.html.erb">Atas - Medicina</a></td>
                <td>Graduação / Medicina</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atividades complementares - Medicina</a></td>
                <td>Graduação / Medicina</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atividades de extensão - Medicina</a></td>
                <td>Graduação / Medicina</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Corpo docente - Medicina</a></td>
                <td>Graduação / Medicina</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Enade - Medicina</a></td>
                <td>Graduação / Medicina</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Estágio - Medicina</a></td>
                <td>Graduação / Medicina</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Projeto pedagógico de curso (PPC) - Medicina</a></td>
                <td>Graduação / Medicina</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Trabalho de conclusão de curso (TCC) - Medicina</a></td>
                <td>Graduação / Medicina</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atas - Enfermagem</a></td>
                <td>Graduação / Enfermagem</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atividades complementares - Enfermagem</a></td>
                <td>Graduação / Enfermagem</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atividades de extensão - Enfermagem</a></td>
                <td>Graduação / Enfermagem</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Corpo docente - Enfermagem</a></td>
                <td>Graduação / Enfermagem</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Enade - Enfermagem</a></td>
                <td>Graduação / Enfermagem</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Estágio - Enfermagem</a></td>
                <td>Graduação / Enfermagem</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Projeto pedagógico de curso (PPC) - Enfermagem</a></td>
                <td>Graduação / Enfermagem</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Trabalho de conclusão de curso (TCC) - Enfermagem</a></td>
                <td>Graduação / Enfermagem</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atas - Fisioterapia</a></td>
                <td>Graduação / Fisioterapia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atividades complementares - Fisioterapia</a></td>
                <td>Graduação / Fisioterapia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atividades de extensão - Fisioterapia</a></td>
                <td>Graduação / Fisioterapia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Corpo docente - Fisioterapia</a></td>
                <td>Graduação / Fisioterapia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Enade - Fisioterapia</a></td>
                <td>Graduação / Fisioterapia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Estágio - Fisioterapia</a></td>
                <td>Graduação / Fisioterapia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Projeto pedagógico de curso (PPC) - Fisioterapia</a></td>
                <td>Graduação / Fisioterapia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Trabalho de conclusão de curso (TCC) - Fisioterapia</a></td>
                <td>Graduação / Fisioterapia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atas - Psicologia</a></td>
                <td>Graduação / Psicologia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atividades complementares - Psicologia</a></td>
                <td>Graduação / Psicologia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Atividades de extensão - Psicologia</a></td>
                <td>Graduação / Psicologia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Corpo docente - Psicologia</a></td>
                <td>Graduação / Psicologia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Enade - Psicologia</a></td>
                <td>Graduação / Psicologia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Estágio - Psicologia</a></td>
                <td>Graduação / Psicologia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Projeto pedagógico de curso (PPC) - Psicologia</a></td>
                <td>Graduação / Psicologia</td>
              </tr>
              <tr>
                <td><a href="medicina.html.erb">Trabalho de conclusão de curso (TCC) - Psicologia</a></td>
                <td>Graduação / Psicologia</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Contexto educacional</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Políticas institucionais no âmbito do curso</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Objetivos do curso</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Perfil profissional do egresso</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Estrutura curricular</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Conteúdos curriculares</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Metodologia</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Estágio curricular supervisionado</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Atividades complementares</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Trabalho de conclusão de curso (TCC)</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Apoio ao discente</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Ações decorrentes dos processos de avaliação do curso</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Tecnologias de Informação e Comunicação – TICs – no processo ensino-aprendizagem</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Procedimentos de avaliação dos processos de ensino-aprendizagem</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Número de vagas</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Integração com as redes públicas de ensino</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Integração do curso com o sistema local e regional de saúde/ SUS – relação alunos/docente</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Integração do curso com o sistema local e regional de saúde/SUS – relação alunos/usuário</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>
              <tr>
                <td><a href="organizacao.html">Atividades práticas de ensino</a></td>
                <td>Dimensões / Organização didático-pedagógica</td>
              </tr>

              <tr>
                <td><a href="corpo-docente.html">Atuação do Núcleo Docente Estruturante – NDE</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Atuação do (a) coordenador (a)</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Experiência profissional, de magistério superior e de gestão acadêmica do (a) coordenador (a)</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Regime de trabalho do (a) coordenador (a) do curso</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Carga horária de coordenação de curso</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Titulação do corpo docente do curso</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Titulação do corpo docente do curso – percentual de doutores</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Regime de trabalho do corpo docente do curso</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Regime de trabalho do corpo docente do curso</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Experiência de magistério superior do corpo docente</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Funcionamento do colegiado de curso ou equivalente</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Produção científica, cultural, artística ou tecnológica</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>
              <tr>
                <td><a href="corpo-docente.html">Responsabilidade docente pela supervisão da assistência médica</a></td>
                <td>Dimensões / Corpo docente e tutorial</td>
              </tr>

              <tr>
                <td><a href="requisitos-legais.html">Diretrizes Curriculares Nacionais do Curso.</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Diretrizes Curriculares Nacionais para Educação das Relações Étnico-Raciais e para o Ensino de História e Cultura AfroBrasileira, Africana e Indígena</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Diretrizes Nacionais para a Educação em Direitos Humanos</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Titulação do corpo docente</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Núcleo Docente Estruturante (NDE</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Carga horária mínima, em horas – para Bacharelados e Licenciaturas</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Tempo de integralização</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Condições de acessibilidade para pessoas com deficiência ou mobilidade reduzida</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Disciplina de Libras</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Informações acadêmicas</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
              <tr>
                <td><a href="requisitos-legais.html">Políticas de educação ambiental</a></td>
                <td>Dimensões / Requisitos legais e normativos</td>
            </tbody>
          </table>
        </div>



          <!-- <div id="graduacao" class="tab-pane">
            <% @menus.each_with_index do |menu, i| %>
            
              <li class="<% if i == 0 %> active <% end %>"><a href="#<%= menu.descricao %>" data-toggle="tab"> <%= menu.descricao %></a></li>
            <% end %>

            </div>
 -->

      <% @menus.each_with_index do |menu, i| %>
          <div id="<%= menu.id %>" class="tab-pane ">
            <div class="row">       
              <% menu.indices.each_with_index do |indice, i| %>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="/indices/<%= indice.id %>" class="panel panel-default">
                      <span class="panel-body">
                        <i class="<%= indice.icone %>"></i>
                      </span>
                      <span class="panel-footer"><%= indice.descricao %></span>
                    </a>
                  </div>
              <% end %>
            </div>
          </div>
        <% end %>





      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>